
	#head1,#footer1{
		color: red;
		text-align: center;
	}
	/*#head1{
		font-family: 'Covered By Your Grace', cursive;
		font-size: xx-large;
	}*/
	a{
		padding:15px;
	}
	a:visited{
		color: aqua;
	}
	a:hover{
		font-weight: bold;
		
		/*font-size: xx-large;*/
	}
	a:active{
		
		text-decoration: none;
	}
